{% extends "layout.html" %}

{% block body %}

   <!-- This is Welcome section ---------------------------------->
   <h1>Enter Car Details</h1>

   <form action="/predict" method="post" class="form">
    <!-- Other form elements... -->
    <div class="form-group">
        <label for="cyl">Number of engine cylinders in the engine:</label>
        <select id="cyl" name="cyl">
            <option value="" disabled selected>Select Cylinders</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="8">8</option>
        </select>
    </div>

    <div class="form-group">
        <label for="disp">Engine Displacement (cc):</label>
        <input type="text" id="disp" name="disp" placeholder="Engine Displacement (cc)">
    </div>

    <div class="form-group">
        <label for="hp">Horse Power:</label>
        <input type="text" id="hp" name="hp" placeholder="Horse Power">
    </div>

    <div class="form-group">
        <label for="wt">Weight (kgs):</label>
        <input type="text" id="wt" name="wt" placeholder="Weight (kgs)">
    </div>

    <div class="form-group">
        <label for="acc">Acceleration (m/s²):</label>
        <input type="text" id="acc" name="acc" placeholder="Acceleration (m/s²)">
    </div>

    <div class="form-group">
        <label for="yr">Year (YYYY):</label>
        <input type="text" id="yr" name="yr" placeholder="Year (YYYY)">
    </div>

    <div class="form-group">
        <label for="origin">Origin:</label>
        <select id="origin" name="origin">
            <option value="" disabled selected>Select Origin</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="form-group">
        <label for="car_type">Car Type:</label>
        <select id="car_type" name="car_type">
            <option value="" disabled selected>Select Car Type</option>
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="car_name">Car Name:</label>
        <input type="text" id="car_name" name="car_name" placeholder="Car Name">
    </div>

    <div class="form-group">
        <label for="scale">Scaling :</label>
        <select id="scale" name="scale">
            <option value="" disabled selected>SCALE</option>
            <option value="yes">yes</option>
            <option value="no">no</option>

        </select>
    </div>

    <input type="submit" value="Predict MPG">
</form>



   <div class="result">
    The Predicted value of Miles Per Gallon for above Data is : <span>{{preds_final}}</span>
    MPG</div>

   <div class="error">
    Error Message: {{error_message}}
   </div>

{% endblock %}
